
//Index

.contenedorIndex{
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	grid-template-rows: 46vh 145vh 24vh 0vh;
	grid-template-areas: "headerIndex headerIndex"
	"mainIndex mainIndex" "pieIndex pieIndex";
}

.headerIndex{
	grid-area: headerIndex;
}

.mainIndex{
	grid-area: mainIndex;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: $keycolor !important;
}


.pieIndex{
	grid-area: pieIndex;
}

.catalogoIndex{
	text-decoration: none;
	text-align: center;
	color: $titleColor;
}

.hoverIndex:hover{
	color: $contentColor;
	cursor: pointer;
}

.figcaptionIndex{
	padding: 10px;
	margin: 10px;
}

.boxInde{
	width: 136px;
	margin-left: 26%;
}

.boxInde2{
	height: 126px;
	width: 133px;
	margin-left: 27%;
}

.imagenIndex{
	width: 100%;
	display: flex;
	margin-top: -6%;
}

@media (min-width: 358px){
	.botonHam{
		margin-left: 1rem !important;
	}
}

@media (min-width: 339px){
	.botonHam{
		margin-left: 2rem !important;
	}
}

@media (min-width: 378px){
	.botonHam{
		margin-left: 10rem !important;
	}
}

@media (min-width: 458px){
	.botonHam{
		margin-left: 18rem !important;
	}
}

@media (min-width: 538px){
	.botonHam{
		margin-left: 23rem !important;
	}
}

@media (min-width: 588px){
	.botonHam{
		margin-left: 26rem !important;
	}
}

@media (min-width: 686px){
	.botonHam{
		margin-left: 35rem !important;
	}
}






@media (min-width: 400px){
	.contenedorIndex{
		grid-template-columns: repeat(2, 2fr);
		grid-template-rows: 63vh 72vh 24vh 0vh;
		grid-template-areas: "headerIndex headerIndex"
		"mainIndex mainIndex" "pieIndex pieIndex";
	}

	.mainIndex{
		flex-direction: row;
	}

	.indexHam{
		margin-left: 100px;
	}

	.boxInde{
		width: 130px;
		margin-left: 4%;
	}

	.boxInde2{
		height: 163px;
		width: 152px;
		margin-left: 3%;
	}	

}

@media (min-width: 500px){
	.contenedorIndex{
		grid-template-columns: repeat(2, 2fr);
		grid-template-rows: 76vh 67vh 24vh 0vh;
		grid-template-areas: "headerIndex headerIndex"
		"mainIndex mainIndex" "pieIndex pieIndex";
	}

}

@media (min-width: 600px){
	.contenedorIndex{
		grid-template-columns: repeat(2, 2fr);
		grid-template-rows: 93vh 83vh 24vh 0vh;
		grid-template-areas: "headerIndex headerIndex"
		"mainIndex mainIndex" "pieIndex pieIndex";
	}

	.boxInde{
		width: 223px;
	}

	.boxInde2{
		height: 280px;
    	width: 257px;
	}

	.indexHam{
		margin-left: 186px;
	}

	.indexLogo{
		font-size: map-get($map:$fontsizes,$key:'6') !important;
	}
}

@media (min-width: 750px){
	.contenedorIndex{
		grid-template-columns: repeat(2, 2fr);
		grid-template-rows: 114vh 81vh 24vh 0vh;
		grid-template-areas: "headerIndex headerIndex"
		"mainIndex mainIndex" "pieIndex pieIndex";
	}
	
	.indexHam {
		margin-left: 337px;
	}
}

@media (min-width: 1000px){
	.contenedorIndex{
		grid-template-columns: repeat(2, 2fr);
		grid-template-rows: 124vh 90vh 24vh 0vh;
		grid-template-areas: "headerIndex headerIndex"
		"mainIndex mainIndex" "pieIndex pieIndex";
	}
	.nav{
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.boxInde{
		width: 283px;
	}

	.boxInde2{
		height: 356px;
    	width: 333px;
	}

	.imagenIndex{
		margin-top: -224px;

	}


}

@media (min-width: 1340px){
	.contenedorIndex{
		grid-template-columns: repeat(2, 2fr);
		grid-template-rows: 174vh 111vh 24vh 0vh;;
		grid-template-areas: "headerIndex headerIndex"
		"mainIndex mainIndex" "pieIndex pieIndex";
	}
}

@media (min-width: 1500px){
	.contenedorIndex{
		grid-template-columns: repeat(2, 2fr);
		grid-template-rows:  187vh 143vh 24vh 0vh;
		grid-template-areas: "headerIndex headerIndex"
		"mainIndex mainIndex" "pieIndex pieIndex";
	}
	
	.boxInde{
		width: 384px;
	}	

	.boxInde2{
		height: 481px;
		width: 471px;
	}
	
	.imagenIndex{
		margin-top: -298px;
		width: 100%;
	}
}

@media (min-width: 1920px){
	.contenedorIndex{
		grid-template-columns: repeat(2, 2fr);
		grid-template-rows:  170vh 100vh 18vh 0vh;
		grid-template-areas: "headerIndex headerIndex"
		"mainIndex mainIndex" "pieIndex pieIndex";
	}
}

//Prendas

.contenedor{
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows: auto;
	grid-template-areas: "header" "aside" "prendas" "pie";
}


.header{
	grid-area: header;
}


.aside{
	grid-area: aside;
	color: $contentColor;
	font-weight: 200;
	font-size: map-get($map:$fontsizes,$key:'2');
	line-height: 4rem;
	font-family: $fontMain;
	margin: -2px;
	padding: 10px;	
	background-color: $keycolor;
	margin-left: -71px;
}


.foot{
	grid-area: pie;	
	margin-top: -1px;
}

.prendas{
	grid-area: prendas;
	background-color: $keycolor;
	margin-top: -1px;
}

@media (min-width: 619px){
	.botonPren{
		margin-left: 34rem !important;
	}
}

@media (min-width: 700px){
	.botonPren{
		margin-left: 43rem !important;
	}
}

@media (min-width: 768px){
	.contenedor{
		grid-template-columns: 45vw 53vw;
		grid-template-rows: auto;
		grid-template-areas: "header header" 
		"aside prendas" "pie pie";
	}

	#logo{
		font-size: map-get($map:$fontsizes,$key:'6') !important;
 	}	

	.categoriasShop{
		margin-left: 81px;
	}

	.prendas{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

}

@media (min-width: 1000px){
	.contenedor{
		grid-template-columns: 45vw 52vw;
		grid-template-rows: auto;
		grid-template-areas: "header header" 
		"aside prendas" "pie pie";
	}
}

@media (min-width: 1200px){  
	.contenedor{
		grid-template-columns: 16vw 59vw 24vw;
		grid-template-rows: repeat(3, auto);
		grid-template-areas: "header header header" 
		"aside prendas prendas" "pie pie pie";
	}

	.aside{
		margin-left: 0px;
	}

	.botoneraP{
		margin-right: 13px;
	}

	.container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;


	}

	.nav{
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

	}

	.navUl{
		margin-right: 16px;
	}

	.prendas .container figure{
		width: 34rem;
	}

	.categoriasShop{
		margin-left: 22px;
	}  
}

@media (min-width: 1500px){
	.contenedor{
		grid-template-columns: 16vw 59vw 22vw;
		grid-template-rows: repeat(3, auto);
		grid-template-areas: "header header header" 
		"aside prendas prendas" "pie pie pie";
	}
}


@media (min-width: 1800px){
	.contenedor{
		grid-template-columns: 13vw 62vw 22vw; 
		grid-template-rows: repeat(3, auto);
		grid-template-areas: "header header header" 
	"aside prendas prendas" "pie pie pie";
	}

	.categoriasShop{
		margin-left: 72px;
	}

	.prendas{
		align-items: stretch;
	}  

	#logo{
		font-size: map-get($map:$fontsizes,$key:'8') !important;
 	}	
}

@media (min-width: 1920px){
	.contenedor{
		grid-template-columns: 13vw 62vw 24vw; 
		grid-template-rows: repeat(3, auto);
		grid-template-areas: "header header header" 
	"aside prendas prendas" "pie pie pie";
	}
}

//Accesorios

.contenedorAcces{
	display: grid;
	grid-template-columns: 2fr;
	grid-template-rows: auto;
	grid-template-areas: "headerAcces"
	"asideAcces" "mainAcces" "pieAcces";
}

.headerAcces{
	grid-area: headerAcces;
}

.asideAcces{
	grid-area: asideAcces;
	color: $contentColor;
	font-weight: 200;
	font-size: map-get($map:$fontsizes,$key:'2');
	line-height: 4rem;
	font-family: $fontMain;
	margin: -1px;
	padding: 10px;
	background-color: $keycolor;
	margin-left: -65px;
	margin-bottom: -1px;
	margin-right: -1px;
}

.mainAcces{
	grid-area: mainAcces;
	background-color: $keycolor;
}

.pieAcces{
	grid-area: pieAcces;
	margin-top: -1px;
}

@media (min-width: 619px){
	.botonPren{
		margin-left: 34rem !important;
	}
}

@media (min-width: 699px){
	.botonPren{
		margin-left: 42rem !important;
	}
}

@media (min-width: 700px){
	.contenedorAcces{
		grid-template-columns: 40vw 60vw;
		grid-template-rows: auto;
		grid-template-areas: "headerAcces headerAcces" 
		"asideAcces mainAcces" "pieAcces pieAcces";
	}

	#navB{
		margin-bottom: -1px;
	}

	.categoriasShop{
		margin-left: 81px;
	}

	.mainAcces{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

}

@media (min-width: 1200px){  
	.contenedorAcces{
		grid-template-columns: 16vw 54vw 30vw;
		grid-template-rows: repeat(3, auto);
		grid-template-areas: "headerAcces headerAcces headerAcces" 
	"asideAcces mainAcces mainAcces" "pieAcces pieAcces pieAcces";
	}

	.container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;


	}

	.box{
		width: 31rem;
	}

	.asideAcces{
		margin-left: 0px;
	}

	.nav{
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

	}

	.navUl{
		margin-right: 40px;
	}

	.mainAcces .container figure{
		width: 33rem;
	}

	.categoriasShop{
		margin-left: 22px;
	}  
}

@media (min-width: 1800px){
	.contenedorAcces{
		grid-template-columns: 13vw 61vw 26vw; 
		grid-template-rows: repeat(3, auto);
		grid-template-areas: "headerAcces headerAcces headerAcces" 
	"asideAcces mainAcces mainAcces" "pieAcces pieAcces pieAcces";
	}

	.categoriasShop{
		margin-left: 31px;
	}  

	.navUl{
		margin-right: 10px;
	}

	.mainAcces{
		align-items: stretch;
	}

}

@media (min-width: 1920px){
	.contenedorAcces{
		grid-template-columns: 13vw 61vw 25vw; 
		grid-template-rows: repeat(3, auto);
		grid-template-areas: "headerAcces headerAcces headerAcces" 
	"asideAcces mainAcces mainAcces" "pieAcces pieAcces pieAcces";
	}
}

// Nosotros

.contenedorNos{
	display: grid;
	grid-template-columns: 2fr;
	grid-template-rows: 7vh 299vh 18vh;
	grid-template-areas: "headerNos" "mainNos" "pieNos";
}

.headerNos{
	grid-area: headerNos;
}

.mainNos{
	grid-area: mainNos;
	box-sizing: border-box;
	background-color: $keycolor !important;
}

.pieNos{
	grid-area: pieNos;
	margin-bottom: -20px;
	margin-top: -1px;
}

.nosotros__articulo--left{
	height: 76rem;
}

.nosotros__articulo--right{
	height: 78rem;
}

.uniteNosotros{
	width: 96%;
	margin-bottom: 10%;
}

@media (min-width: 400px){
	.contenedorNos{
		display: grid;
		grid-template-columns: 2fr;
		grid-template-rows: 7vh 225vh 18vh;
		grid-template-areas: "headerNos" "mainNos" "pieNos";
	}

	.nosotros__articulo--left{
		height: 52rem;
	}

	.nosotros__articulo--right{
		height: 59rem;
	}

	.nosHam{
		margin-left: 23%;
	}

}

@media (min-width: 619px){
	.nosHam{
		margin-left: 33rem !important;
	}
}

@media (min-width: 689px){
	.nosHam{
		margin-left: 38rem !important;
	}
}

@media (min-width: 700px){
	.contenedorNos{
		display: grid;
		grid-template-columns: 2fr;
		grid-template-rows: 7vh 178vh 17vh;
		grid-template-areas: "headerNos" "mainNos" "pieNos";
	}

	.nosotros__articulo--left{
		height: 30rem;
	}

	.nosotros__articulo--right{
		height: 42rem;
	}


	.logoNos{
		font-size: map-get($map:$fontsizes,$key:'8') !important;
	}

	.nosHam{
		margin-left: 29rem !important;
	}

}

@media (min-width: 1700px){
	.contenedorNos{
		grid-template-columns: 46vw 54vw;
		grid-template-rows: 8vh 129vh 17vh;
		grid-template-areas: "headerNos headerNos"
		"mainNos mainNos" "pieNos pieNos";
	}

	.uniteNosotros{
		width: 100%;
	}

	.nosotros__articulo--left{
		height: 20rem;
	}

	.nosotros__articulo--right{
		height: 25rem;
	}
}

@media (min-width: 1920px){
	.contenedorNos{
		grid-template-columns: 46vw 53vw;
    	grid-template-rows: 5vh 120vh 17vh;
    	grid-template-areas:
        "headerNos headerNos"
        "mainNos mainNos"
        "pieNos pieNos";
	}

	.nosotros__articulo--left{
		height: 20rem;
	}

	.nosotros__articulo--right{
		height: 32rem;
	}

	.encabezadoNosotros{
		margin-top: 30px;
	}

}

//Contacto

.contenedorCon{
	display: grid;
	grid-template-columns: 108vw;
	grid-template-rows: 7vh 165vh 20vh;
	grid-template-areas: "headerCon" "mainCon" "pieCon";
}

.headerCon{
	grid-area: headerCon;
}
.mainCon{
	grid-area: mainCon;
	background-color: $keycolor !important;
}
.pieCon{
	grid-area: pieCon;
	margin-top: -1px;
}

.inputContacto{
	font-size: map-get($map:$fontsizes,$key:'10');
	margin-left: 68px;
}

.encabezadoContacto{
	padding-left: 50px;
    margin-top: 4rem;
    margin-bottom: 6rem;
}

.bordeContacto{
	margin-right: 18%;
    margin-left: 28px;
    margin-bottom: -71px;
    height: 83rem;
}

.datosNos{
	font-size: map-get($map:$fontsizes,$key:'11');
}

@media (min-width: 290px){
	.bordeContacto{
		margin-left: 40px;		
	}
}

@media (min-width: 300px){
	.bordeContacto{
		margin-left: 16px;
		font-size: 3rem;
		height: 90rem;		
	}

	.areaText{
		width: 29rem;
	}

}

@media (min-width: 333px){
	.buttonCon{
		margin-left: 9rem !important;
	}
}

@media (min-width: 416px){
	.buttonCon{
		margin-left: 18rem !important;
	}
}


@media (min-width: 450px){
	.areaText{
		width: 44rem;
	}

	.bordeContacto{
		height: 78rem;
	}

	.inputContacto{
		margin-left: 123px;
	}

	.buttonCon{
		margin-left: 21rem !important;
	}
}

@media (min-width: 527px){
	.buttonCon{
		margin-left: 30rem !important;
	}
}



@media (min-width: 600px){
	.bordeContacto{
		height: 70rem;
	}

}

@media (min-width: 611px){
	.buttonCon{
		margin-left: 39rem !important;
	}
}

@media (min-width: 694px){
	.buttonCon{
		margin-left: 48rem !important;
	}
}


@media (min-width: 700px){
	.contenedorCon{
		grid-template-columns: 100vw;
		grid-template-rows: 7vh 141vh 21vh;
	}
	
	.bordeContacto{
		margin-right: 6%;
		margin-left: 38px;
    	margin-bottom: 11px;
    	height: 62rem;
	}
	
	.inputContacto{
		margin-left: 140px;
	}
	.encabezadoContacto{
		padding-left: 57px;
    	margin-top: 4rem;
    	margin-bottom: 3rem;
	}

	.buttonCon{
		margin-left: 43rem !important;
	}

}

@media (min-width: 1000px){
	.encabezadoContacto{
		padding-left: 32px;
	}
	.bordeContacto{
		margin-right: 42%;
	}
	.inputContacto{
		margin-left: 133px;
	}
}

@media (min-width: 1700px){
	.bordeContacto{
		margin-right: 65%;
	}
}

@media (min-width: 1920px){
	.contenedorCon{
		grid-template-columns: 99vw;
		grid-template-rows: 7vh 130vh 18vh;
	}
}

@media (min-width: 2050px){
	.inputContacto{
		margin-left: 227px;
	}
}
@media (min-width: 2500px){
	.contenedorCon{
		grid-template-columns: 100vw;
    	grid-template-rows: 12vh 76vh 14vh;
	}

	.inputContacto{
		margin-left: 283px;
	}
}

